header{
    height: 110px;
    background-color: #9fe7d1;
    padding-top: 20px;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    padding-left: 70px;
   
    
}

#lupa{
    height: 40px;
    width: 350px;
    left: 208px;
    top: 5px;
    border-radius: 20px;
    padding: 8px, 16px, 8px, 16px;    
    background-image: url(../img/lupa.png);
    background-position: 320px 10px; 
    background-repeat: no-repeat;

    background-color: #e7e2e2;

}

.lupa2{
    display: none;
}




#boton-header{
    background-color: white;
    height: 51px;
    width: 182px;
    margin-right: 130px;
    top: 32px;
    border-radius: 0px;
    border-color: #000000;
    padding: 16px;

    font-family: Raleway;
    color: #2A7AE4;
    margin-left: 300px;  
  

}


.link{
    text-decoration: none;
    color: #2A7AE4;
}

.link-boton-consola{
   
    text-decoration: none;
    color: #E5E5E5;
}

.banner{
    
        background: url("../img/banner-image.jpg") no-repeat center / cover;
        width: 100%;
        height: 300px;
               
        
    }

#promocion{
    font-family: Raleway;
    font-weight: bold;
    font-size: 30px;
    color:whitesmoke;
   
    padding-top: 100px;
    padding-left: 100px;

}

#seleccion{
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
    color:whitesmoke;
    
    padding-left: 100px;

}

#boton-banner{
    margin-left: 100px;

    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: #E5E5E5;
    background-color: #53c09f ;
    margin-bottom: 10px;
}

/* -------------------------- -------------------------*/

.galeria{
    background: #E5E5E5;
    font-family: Raleway;
    padding-top: 50px;
    
}


.Elementos{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    
}

.computadoras{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.diversos{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    
}

.galeria_titulo{
    margin-left: 60px;
    margin-top: 30px;
}

.producto__boton{
    border-radius: 10px;
    font-size: 15px;
    color: #000000;
    background-color: #53c09f ;
    margin-bottom: 10px;
    
    transition: 1s all;
}

.producto__imagen{
    width: 220px;
    height: 220px;
}

.boton-enviar{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: #E5E5E5;
    background-color: #53c09f ;
    margin-bottom: 10px;

    transition: 1s all;
}

.boton-enviar:hover{
       
    background:rgb(30, 78, 86);
    transform: scale(0.9);
}

.campo{
    border-radius: 5px;
    width: 455px;
    height: 25px;

}



/* -------------------------- -------------------------*/



.rodapie{
    font-family: Raleway;
    background-color: #EAF2FD;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;  

}

.rodapie-menu a{
    text-decoration: none;
    color: black;
}


footer{
        background-color: white;
        text-align: center;
        padding: 40px;      
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;         
    }
    
    .copyright, .desarrollo{
        color: black;
        font-size: 15px;
        margin: 20px;
    }

    .qrs{
        display: flex;
        justify-content: center;
    }

    .qr{
        width: 100px;
        height: 100px;
    }

    
 
 /*---------RESPONSIVE movil---------------*/

 @media (max-width:768px){
  

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        position: static;
        width: 360px;
        height: 72px;
        left: 0px;
        top: 0px;
      }    


     

    .logo{
        width: 210px;
        padding-left: 0px;
        margin-left: 0%;
    }

    #lupa{
        display: none;
    }

    .lupa2{
        display: flex;
        margin-right: 30px;
    }
     
    #boton-header{
        
        
        height: 41px;
        margin-right: 70px;
        margin-left: 40px;
   
        
    }

    .banner{
           height: calc(100vh - 220px);
           padding-top: 300px;          
          
    }
    

    .galeria{
        display: flex;
        flex-direction: column;
        
    }

    .Elementos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .consolas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diversos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .rodapie{

    align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 90%;
	margin: 25px auto;
     }

     .formulario{
         display: flex;
         flex-direction: column;
         align-items: initial;
         text-align: center;
         
      }

      .campo{
        width: 230px;
       

      }

      #areaTexto{
        width: 230px;
       
      }

     footer{
         justify-content: center;
         padding: 10px;         
      
     }

 }